<!DOCTYPE html>
<html>

<head>
    <title>Insert Data</title>
</head>

<body>
    <form method='' action="/addinfo">
        <table>
            <tr>
                <td>Student Name<input type="text" name="Student_Name"> </td>
                <td>Student ID <input type="text" name="Student_Id"> </td>
                <td>Student Mobile Number <input type="int" name="Student_Mobile.No"> </td>
                <td>Student Address
                    <input type="int" name="Student_Address"> </td>
                <td>Student Course <input type="int" name="Student_Course"> </td>
                <td colspan="2"><input type="submit" name="btnSub" value="Insert Data"></td>
            </tr>
        </table>
    </form>
</body>

</html>